*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #e6e6e6;
  --component-color: #fff;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --border-radius: 6px;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

.site-header {
  background-color: var(--component-color);
  border-bottom: 1px solid #e9e9e9;
}

.site-title {
  margin: 0;
  padding: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

.posterSVG {
  position: relative;
  flex-grow: 1;
  margin: 3rem 0;
}

.posterSVG_basic {
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 1;
  fill: white;
}

.posterSVG_part {
  fill: white;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.feature_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.feature {
  height: 90px;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.feature img {
  border: 1px solid #d9d9d9;
  display: block;
  height: 74px;
  width: 74px;
  margin: 0 auto;
  border-radius: 50%;
}

.sectionwrapper_all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selection {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e9e9e9;
  padding-right: 5vw;
}

.color-wrapper,
.frame-wrapper,
.flower-wrapper,
.text-wrapper,
.shape-wrapper {
  border-bottom: 1px solid #e9e9e9;
  background-color: white;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  width: 30vw;
}

.selection-selector {
  padding: 2rem;
}

/* COLOR PICKER CSS */
.c-color-picker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.c-color-picker__color,
.c-font-picker__font {
  /* padding: 6px; */
  border: 1px solid #d9d9d9;
  /* border-radius: 50%; */
  background-color: #fff;
  cursor: pointer;
  height: 54px;
  width: 54px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* box-shadow: var(--shadow); */
  z-index: 2;
}

.c-color-picker__color-inner,
.c-font-picker__font-inner {
  height: 54px;
  width: 54px;
  /* border-radius: 50%; */
  border: 1px solid #d9d9d9;
  transition: transform 0.3s ease-in-out;
}

.c-color-picker__color.is-active {
  padding: 0;
  border: none;
}

.c-color-picker__color.is-active > .c-color-picker__color-inner {
  transform: scale(1.28);
  border: none;
}

/* @media (min-width: 720px) {
  .selection {
    flex-direction: row;
    border-bottom: 1px solid #e9e9e9;
  }

  .color-wrapper,
  .features {
    width: 50%;
  }

  .color-wrapper {
    border-bottom: none;
    border-right: 1px solid #e9e9e9;
  }
}

@media (min-width: 970px) {
  .sectionwrapper_all {
    min-height: calc(100vh - 101px);
  }

  .posterSVG {
    align-self: center;
  }

  .selection {
    flex-direction: column;
    max-width: 300px;
    border-left: 1px solid #e9e9e9;
    border-top: none;
    min-height: calc(100vh - 101px);
    overflow-y: auto;
    border-bottom: none;
  }

  .color-wrapper {
    border: none;
  }

  .color-wrapper,
  .features {
    width: auto;
  }
}

@media (min-width: 1100px) {
  .selection {
    max-width: 360px;
  }
}

@media (min-width: 1230px) {
  .selection {
    max-width: 462px;
  }
} */

/* SVG STYLING */

.shadow-layer {
  pointer-events: none;
}

.unclickable {
  pointer-events: none;
}

.g-to-color {
  pointer-events: auto;
}

.g-to-color_active {
  stroke: rgb(0, 0, 0);
  stroke-width: 5px;

  /* stroke-dasharray: 2000; */
  /* stroke-dashoffset: 2000; */
  animation: dash_kf 1s linear forwards;
}

.g-to-color:hover {
  cursor: pointer;
}

@keyframes dash_kf {
  to {
    stroke-dashoffset: 0;
  }
}

/* FEATURE CSS */
.chosen {
  background-color: grey;
}

.hide {
  display: none;
}

/* Animation classes */

.animate-color-in {
  /* TODO: Create animation for adding a feature */
  --diffX: 0;
  --diffY: 0;
  position: absolute;
  animation: animate-color-in_kf 1s ease-in-out;
}

@keyframes animate-color-in_kf {
  0% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(calc(var(--diffX) * 1px), calc(var(--diffY) * 1px));
  }
}

/*------------ALEX CODE--------------*/

.selector {
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  /* padding: 6px; */
  /* border: 1px solid #d9d9d9; */
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  /* box-shadow: var(--shadow); */
}

.selector img {
  /* border: 1px solid #d9d9d9; */
  padding: 6px;
  display: block;
  height: 54px;
  width: 54px;
  margin: 0 auto;
  /* border-radius: 50%; */
}

.flower-wrapper-1 {
  display: flex;
}

.flower .leaf {
  width: 10vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaf img,
.flower img {
  width: 6vw;
}

.flower-wrapper-1,
.flower-wrapper-2 {
  display: flex;
  flex-wrap: wrap;
}

.posterSVG,
.posterSVG svg,
.posterSVG img {
  width: 30vw;
  height: auto;
}

#textOutput {
}
