/**** from Julia's code ****/

:root {
  --main-font: montserrat, sans-serif;
  --main-color: #e6e6e6;
  --secondary-color: #505050;
  --pink: ##ffccce;
}

body {
  font-family: var(--main-font);
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
}

nav {
  display: flex;
  width: 90%;
  padding: 2rem 4rem 0 4rem;
}

nav > h1 {
  font-size: 2rem;
}

nav > ol {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: auto;
  /* margin-right: 5rem; */
}

nav > ol > li {
  padding: 0 20px;
}

nav > ol > li > a {
  color: var(--secondary-color);
  text-decoration: none;
  text-transform: uppercase;
}
/**** end of Julia's code ****/

.intro-inspired {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.mockup-inspired {
  width: 700px;
  height: auto;
  /*position: relative;
  top: 0;
  right: -2rem;*/
}

.text-inspired {
  /*max-width: 43vw;
  align-self: center;
  justify-self: center;*/
  padding: 4rem;
}

section.intro-inspired > div.text-inspired > h1 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}

button {
  border: none;
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: 0;
  margin: 2rem 0;
  padding: 10px 15px;
  font-size: 1.4rem;
}

.posters-wrapper {
  display: flex;
  flex-direction: column;
}

section.posters-wrapper > h1 {
  font-size: 3rem;
  font-weight: 100;
  margin-top: 5rem;
  align-self: center;
}

/* POSTER ELEMENTS POSITIONING */
.leaf1,
.flower1,
.text1,
.date1,
.shapes1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: auto;
}

.poster1-wrapper {
  position: relative;
}

.leaf2,
.flower2,
.text2,
.date2,
.shapes2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: auto;
}

.poster2-wrapper {
  position: relative;
}

.leaf3,
.flower3,
.text3,
.date3,
.shapes3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: auto;
}

.poster3-wrapper {
  position: relative;
}

.leaf4,
.flower4,
.text4,
.date4,
.shapes4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: auto;
}

.poster4-wrapper {
  position: relative;
}

.leaf5,
.flower5,
.text5,
.date5,
.shapes5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: auto;
}

.poster5-wrapper {
  position: relative;
}

.leaf-position {
  top: 4rem;
  left: -1rem;
  width: 400px;
  height: auto;
  z-index: 1;
}

.flower-position {
  top: 2rem;
  left: 3rem;
  width: 280px;
  height: auto;
  z-index: 2;
}

.text-position {
  top: 19rem;
  left: 2.5rem;
  width: 300px;
  height: auto;
  z-index: 3;
}

.date-position {
  top: 1rem;
  left: 18rem;
  width: 65px;
  height: auto;
  z-index: 4;
}

.shapes-position {
  top: 1rem;
  left: 1rem;
  width: 340px;
  height: auto;
  z-index: 5;
}

.bg-position {
  width: 380px;
  height: auto;
  z-index: 0;
}

.posters-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 3rem;
}

/*
.hidden {
  display: none;
}
*/
