:root {
  --main-font: montserrat, sans-serif;
  --main-color: #e6e6e6;
  --secondary-color: #505050;
  --pink: #ffccce;
  --background: #a0dedd;
}

body {
  font-family: var(--main-font);
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

nav {
  display: flex;
  width: 90%;
  padding: 2rem 4rem 0 4rem;
  align-items: center;
  overflow: hidden;
}

nav > h1 {
  font-size: 2rem;
}

nav > ol {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: auto;
  /* margin-right: 5rem; */
}

nav > ol > li {
  padding: 0 20px;
}

nav > ol > li > a {
  color: var(--secondary-color);
  text-decoration: none;
  text-transform: uppercase;
}

section.top {
  /*margin-top: -2rem;*/
  margin-top: 1rem;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

section.top > img {
  /*width: 400px;*/
  width: 30vw; /*** CHANGED THE WIDTH TO VW - Elena ***/
  height: auto;
}

section.top > img.topflower {
  position: relative;
  top: 0;
  left: -2rem;
  transform: rotate(5deg);
}

section.top > img.topleaf {
  position: relative;
  top: 0;
  right: -2rem;
  transform: rotate(-15deg);
}

section.top > div.texttop {
  max-width: 43vw;
  align-self: center;
  justify-self: center;
}

section.top > div.texttop > h1 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}

section.top > div.texttop > button {
  border: none;
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: 0;
  margin: 2rem 0;
  padding: 10px 15px;
  font-size: 1.4rem;
  cursor: pointer;
}

/*Styling the configuratoe*/
section.lower {
  justify-items: center;
  display: grid;
}
section.lower > h1 {
  /*justify-self: left;
  padding-left: 8rem;*/
  justify-self: center;
  padding-top: 4rem;
  font-weight: 200;
  font-size: 1.5rem;
}
div.cofig {
  display: grid;
  height: 70vw;
  width: 80vw;
  padding: 5vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

div.cofig > img.posterexample {
  width: 30vw;
  height: auto;
  grid-area: 1 / 1 / -1/ -1;
  align-self: center;
  justify-self: center;
}

div.cofig > img.frame {
  width: 35vw;
  height: auto;
  grid-area: 1 / 1 / -1/ -1;
  align-self: center;
  justify-self: center;
  /*z-index: -1;*/
  position: relative;
}

div.cofig h1 {
  font-size: 1rem;
  text-align: left;
}

div.iconsconf {
  max-width: 140px;
  max-height: 4.5rem;
}

/*
div#flowertype.iconsconf > h1 {
  margin-bottom: 3rem;
}
*/

#frametype {
  grid-area: 1/1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

.framearrow {
  border-left: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  height: 4rem;
  width: 7rem;
  position: relative;
  left: 2rem;
}

#flowertype {
  grid-area: 1/2 / span 1 / span 1;
  align-self: flex-start;
  justify-self: center;
  top: 5rem;
}

.flowerarrow {
  border-right: 2px solid var(--secondary-color);
  border-top: 2px solid var(--secondary-color);
  height: 3.5rem;
  width: 4rem;
  position: relative;
  left: 6rem;
  top: -5rem;
}

#shapetype {
  grid-area: 2/3 / span 1 / span 1;
  align-self: flex-start;
  justify-self: center;
  margin-left: 5rem;
}

.shapearrow {
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  height: 4rem;
  width: 7rem;
  position: relative;
  left: -4.5rem;
  top: 0rem;
}

#backgroundtype {
  grid-area: 3/2 / span 1 / span 1;
  align-self: flex-end;
  justify-self: center;
}

.backgroundarrow {
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  height: 4rem;
  width: 3rem;
  position: relative;
  left: 6rem;
  top: -10rem;
}

#texttype {
  grid-area: 2/1 / span 1 / span 1;
  align-self: flex-end;
  justify-self: center;
}

.textarrow {
  border-left: 2px solid var(--secondary-color);
  border-top: 2px solid var(--secondary-color);
  height: 4rem;
  width: 7rem;
  position: relative;
  left: 2rem;
  top: -13rem;
}

div.iconsconf > div.icon {
  background-color: white;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 5rem;
  display: grid;
}

div.iconsconf > div.icon > img {
  height: 3.5rem;
  width: 3.5rem;
  align-self: center;
  justify-self: center;
}

img {
  object-fit: cover;
}

/***** ADDED OR EDITED CODE - Elena ******/

@media only screen and (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  nav > ol {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  section.top {
    margin-top: 15vw;
    /*width: 90vw;*/
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  section.top > img {
    width: 35vw;
    height: auto;
  }

  section.top > img.topflower {
    top: 10rem;
    left: -3.5rem;
    position: absolute;
    z-index: -1;
  }

  section.top > img.topleaf {
    top: 12rem;
    right: -1rem;
    position: absolute;
    z-index: -1;
  }

  section.top > div.texttop {
    max-width: 60vw;
    align-self: center;
    justify-self: center;
  }

  section.top > div.texttop > button {
    margin: 1rem 0;
    padding: 10px 15px;
    font-size: 1rem;
  }

  section.top > div.texttop > h1 {
    font-size: 1.5rem;
    /*text-align: center;*/
  }

  section.top > div.texttop > p {
    font-size: 0.8rem;
    /*text-align: center;*/
  }

  section.lower > h1 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 5rem;
  }

  div.cofig {
    height: 110vw;
    width: 90vw;
    padding: 5vw;
  }

  div.cofig > img.posterexample {
    width: 45vw;
    /*padding-top: 6rem;*/
  }

  div.cofig h1 {
    font-size: 0.8rem;
  }

  /*div.iconsconf {
    max-width: 100px;
    max-height: 4.5rem;
    align-items: center;
  }*/

  div.iconsconf > div.icon {
    height: 3rem;
    width: 3rem;
  }

  div.iconsconf > div.icon > img {
    height: 2rem;
    width: 2rem;
  }

  #frametype {
    margin-right: 3rem;
  }

  .framearrow {
    height: 2rem;
    width: 3.5rem;
    left: 1.5rem;
  }

  #texttype {
    margin-right: 3rem;
  }

  .textarrow {
    height: 2rem;
    width: 3.5rem;
    left: 1rem;
    top: -8rem;
  }

  #flowertype {
    margin-right: 3rem;
  }

  .flowerarrow {
    height: 3.8rem;
    width: 3rem;
    left: 4rem;
    top: -4rem;
  }

  /*#backgroundtype {
    margin-right: 3rem;
  }*/

  .backgroundarrow {
    height: 2.5rem;
    width: 3rem;
    left: 4rem;
    top: -6rem;
  }

  #shapetype {
    margin-left: 4.2rem;
  }

  .shapearrow {
    height: 2rem;
    width: 3rem;
    left: -1.3rem;
  }

  div.cofig > img.frame {
    width: 50vw;
  }
}
